
.button-navigation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 150px;
    
    button {
            color: #fff;
            border: none;
            border-bottom: 2px solid #ac00d6;
            width: 10%;
            font-size: 30px;
            background-color: transparent;
        }
}

.button-action {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;

    button {
            background-color: rgba(0, 0, 0, 0.55);
            color: #fff;          
            border: 2px solid #ac00d6;
            border-radius: 5px;
            padding: 10px;
            font-size: 20px;
    }
}